<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./images/favicon/favicon.ico" type="image/x-icon" />
    <link rel="manifest" href="manifest.json" />
    <meta name="theme-color" content="#fbf46d" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
    <title>Delicius Resto</title>
  </head>
  <body>
    <!-- Skip to Kontent -->
    <a tabindex="0" href="#main-content" class="skip-link">Menuju ke konten</a>
    <!-- Header -->
    <header>
      <!-- Navbar Element -->
      <nav-bar></nav-bar>
      <!-- Hero Jumbotron Element -->
      <hero-jumbotron></hero-jumbotron>
    </header>
    <!-- Main -->
    <main tabindex="0" id="main-content"></main>
    <!-- Footer -->
    <foot-bar></foot-bar>
  </body>
</html>
