.menu-button {
  position: relative;
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
}

.menu-button button {
  display: block;
  min-width: 44px;
  min-height: 44px;
  cursor: pointer;
  z-index: 2;
  background-color: #9c9955;
  border: none;
  font-size: x-large;
}
