.jumbotron {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  width: 100%;
  object-position: center;
  object-fit: cover;
  position: relative;
}

.jumbotron-title {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -90px;
  margin-left: -140px;
  color: black;
  font-weight: 700;
  font-size: xxx-large;
  letter-spacing: 2px;
  text-shadow: 1px 2px 2px #ece102;
  font-family: "Pacifico", cursive;
  z-index: 3;
}
